<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN"
  "http://www.w3.org/TR/html4/frameset.dtd">
<html>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" http-equiv="refresh" content="1800">

<script>
    window.onload = function(){
 window.setInterval(function(){
     let now = new Date();
     let clock = document.getElementById("clock");
     let options = {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'};
     let options_time = {hour: 'numeric', minute: 'numeric', second: "numeric"}
     clock.innerHTML = now.toLocaleDateString('ru-RU', options)+"<br>"+now.toLocaleTimeString('ru-RU', options_time)
 }, 1000);
};
</script>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
<script src="{{ url_for('static', filename='jquery.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>


<head>
    <script>
        var urls = ["http://{{ ip }}:3000/tv12", "http://{{ ip }}:3000/tv11"];
        var curl = 0;

        function changeURL(frame)
    {
       if(curl == 0)
       {
           frame.src = urls[0];
           curl = 1;
       }
       else
       {
           frame.src = urls[1];
           curl = 0;
       }
    }
</script>
<table style="width: 100%;">
<thead>
    <tr>
                <td><div id="clock"></div></td>
        <td><img src="/static/logo.png" class="rounded" alt="logo" width="350" height="108" alt="lorem"></td>

        <td id="call">Телефон Call-Центра:<br>8 (3842) 903-003</td>
        </tr>
</thead>
    </table>

    <div style="padding:5px"></div>

     <table class="resp-tab">

  <thead>
    <tr>
      <th style="width: 25%;">Врач</th>
      <th style="width: 25%;">Должность</th>
      <th style="width: 6%;">Кабинет</th>
        <th style="width: 11%;">Нечетное</th>
        <th style="width: 11%;">Четное</th>
        <th style="width: 11%;">Суббота</th>
        <th style="width: 11%;">Воскресенье</th>
    </tr>
  </thead>
   </table>
{#      <div style="padding:5px"></div>#}
</head>
{#  <div style="padding:5px"></div>#}
{#    <div class="headotd">Терапевтическое отделение</div>#}
<iframe src="http://{{ ip }}:3000/tv11" id="tv11" style="width: 100%;" frameborder="0" scrolling="no" onload="resizeIframe(this)" ></iframe><br>
<script>
  function resizeIframe(obj) {
    obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
  }
</script>
  <script>
      setInterval(
  () => {
    changeURL(document.getElementById('tv11'));
  },
  20 * 1000
);

  </script>
{#  <input type="button" value="Сменить" onclick="changeURL(document.getElementById('tv1'))">#}
{#<div class="fixed-bottom"><h4><marquee><h4><marquee>Точное расписание работы врачей уточняйте в регистратуре.</marquee></h4></div>#}

</html>




