<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN"
  "http://www.w3.org/TR/html4/frameset.dtd">
<html>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" http-equiv="refresh" content="30">



<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='jquery.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">



    <body>
    <div class="headotd">Детское отделение</div>

    <table class="resp-tab" style="height:95%;">

    <tbody>

  {% for NOTD, NPMM, NDLJ, RNAME, EVEN_DAY, NOEVEN_DAY, SATURDAY, SUNDAY in my_list %}
    <tr>
      <td style="font-weight: bold;width: 25%;">{{ NPMM }}</td>
      <td style="width: 25%;">{{ NDLJ }}</td>
      <td style="font-weight: bold;text-align: center;width: 6%;" >{{ RNAME }}</td>
        <td  class="{{ style_noevenday_var }}" id="noeven_day" class="noeven_day" style="font-weight: bold;text-align: center;width: 11%;">{{ NOEVEN_DAY or '-' }}</td>
      <td  class="{{ style_evenday_var }}" id="even_day" class="even_day" style="font-weight: bold;text-align: center;width: 11%;">{{ EVEN_DAY or '-' }}</td>
      <td  class="{{ style_saturday_var }}" id="saturday" class="saturday" style="font-weight: bold;text-align: center;width: 11%;">{{ SATURDAY or '-' }}</td>
      <td  class="{{ style_sunday_var }}" id="sunday" class="sunday" style="font-weight: bold;text-align: center;width: 11%;">{{ SUNDAY or '-' }}</td>
    </tr>
          {% endfor %}
  </tbody>
</table>

        <div class="headotd">Ортодонтическое отделение</div>

    <table class="resp-tab" style="height:95%;">

    <tbody>

  {% for NOTD, NPMM, NDLJ, RNAME, EVEN_DAY, NOEVEN_DAY, SATURDAY, SUNDAY in my_list2 %}
    <tr>
      <td style="font-weight: bold;width: 25%;">{{ NPMM }}</td>
      <td style="width: 25%;">{{ NDLJ }}</td>
      <td style="font-weight: bold;text-align: center;width: 6%;" >{{ RNAME }}</td>
        <td  class="{{ style_noevenday_var }}" id="noeven_day" class="noeven_day" style="font-weight: bold;text-align: center;width: 11%;">{{ NOEVEN_DAY or '-' }}</td>
      <td  class="{{ style_evenday_var }}" id="even_day" class="even_day" style="font-weight: bold;text-align: center;width: 11%;">{{ EVEN_DAY or '-' }}</td>
      <td  class="{{ style_saturday_var }}" id="saturday" class="saturday" style="font-weight: bold;text-align: center;width: 11%;">{{ SATURDAY or '-' }}</td>
      <td  class="{{ style_sunday_var }}" id="sunday" class="sunday" style="font-weight: bold;text-align: center;width: 11%;">{{ SUNDAY or '-' }}</td>
    </tr>
          {% endfor %}
  </tbody>
</table>
</body>
</html>




